.fade-container {
  position: relative;
}
.fade-animation.ng-enter,
.fade-animation.ng-leave {
  -webkit-transition: all 0.5s linear;
          transition: all 0.5s linear;
}
.fade-animation.ng-enter {
  z-index: 100;
  opacity: 0;
}
.fade-animation.ng-enter.ng-enter-active {
  opacity: 1;
}
.fade-animation.ng-leave {
  z-index: 101;
  opacity: 1;
}
.fade-animation.ng-leave.ng-leave-active {
  opacity: 0;
}
.animate-fade.ng-enter {
  -webkit-animation: zoomIn 0.3s;
  animation: zoomIn 0.3s;
}
.animate-fade.ng-leave {
  -webkit-animation: fadeOut 0.3s;
  animation: fadeOut 0.3s;
}
.spin-transition-container {
  position: relative;
}
.spin-transition {
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
.spin-transition.ng-hide-add {
  display: inline-block !important;
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
  opacity: 1;
}
.spin-transition.ng-hide-add.ng-hide-add-active {
  -webkit-transform: rotate(125deg);
      -ms-transform: rotate(125deg);
          transform: rotate(125deg);
  opacity: 0;
}
.spin-transition.ng-hide-remove {
  display: inline-block !important;
  opacity: 0;
  -webkit-transform: rotate(-125deg);
      -ms-transform: rotate(-125deg);
          transform: rotate(-125deg);
}
.spin-transition.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}
/* ========================================================
 *  ARROWS 
 *  From: http://cssarrowplease.com  
 * ======================================================== */
.arrow-right {
  position: relative;
}
.arrow-right:after {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  display: inline-block;
  border-left-color: #283941;
  border-width: 10px;
  margin-top: -10px;
}
.arrow-up-nav-dropdown {
  position: relative;
}
.arrow-up-nav-dropdown:after,
.arrow-up-nav-dropdown:before {
  left: 9%;
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  display: inline-block;
}
.arrow-up-nav-dropdown:before {
  border-bottom-color: white;
  border-width: 16px;
  margin-left: -16px;
}
/*.arrow-up:after {
    border-bottom-color: #f3f4f6;   // TODO: how to customize the color based upon usage?
    border-width: 10px;
    margin-top: -10px;
}*/
.banner {
  padding-top: 53px;
  position: relative;
  overflow: hidden;
}
.banner-image {
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(23, 21, 21, 0.2) 80px);
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(23, 21, 21, 0.2) 80px);
  background-size: cover;
  height: 150px;
  -webkit-transition: background-image 0.5s;
  transition: background-image 0.5s;
}
.banner-image.business {
  background-image: url("../img/business-header.jpg");
}
.banner-image.your-government {
  background-image: url("../img/government-header.jpg");
}
.banner-image.residents {
  background-image: url("../img/residents-header-en.jpg");
}
.banner-image.online-services {
  background-image: url("../img/services-header.jpg");
}
.main-banner-background {
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(23, 21, 21, 0.2) 80px);
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(23, 21, 21, 0.2) 80px);
  background-position-y: center;
  background: url("../img/painted.hands.png") no-repeat fixed center;
  background-size: cover;
  height: 600px;
  background-attachment: fixed;
}
.breadcrumb {
  border-radius: 0;
  width: 100%;
  background: #077d40;
  margin-top: 0;
  margin-bottom: 0;
  border-top: 1px solid white;
}
.breadcrumb li a {
  color: white;
}
.main-content form button {
  background: #aaa;
  border: none;
  color: white;
  border-radius: 3px;
  margin-left: 7px;
}
.browsehappy {
  background: #ff4b4b;
  color: white;
  position: absolute;
  height: 30px;
  top: 60px;
  width: 100%;
  padding-top: 4px;
  text-align: center;
}
.browsehappy a {
  color: white;
  text-decoration: underline;
}
a {
  color: #333;
  text-decoration: underline;
}
a strong,
strong a {
  font-weight: 600;
}
p {
  color: #666;
}
html {
  font-size: 0.875em;
}
body {
  background: url("/img/background.png");
  font-family: 'Open Sans', serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}
p {
  margin-bottom: 1.3em;
}
h1,
h2,
h3,
h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}
h1 {
  margin-top: 0;
  font-size: 1.777em;
  font-weight: 500;
}
h1 strong {
  font-weight: 500;
}
h2,
h2 strong {
  font-size: 1.333em;
  font-weight: 500;
}
h3 {
  font-size: 1.333em;
}
h4 {
  font-size: 1.333em;
}
small,
.font_small {
  font-size: 0.75em;
}
.features strong {
  font-weight: 600;
}
.features ul {
  list-style-type: none;
  margin-top: 5px;
}
.features ul li {
  border-top: 1px solid #eee;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
}
.features ul li a {
  text-decoration: none;
}
.features ul li:before {
  content: '\f0da';
  font-family: "FontAwesome";
  display: inline-block;
  width: 1.2em;
  margin-left: -20px;
  color: #8bb622;
}
@media (max-width: 500px) {
  .hidden-xxs {
    display: none !important;
  }
}
.visible-xxs-inline-block {
  display: none !important;
}
@media (max-width: 500px) {
  .visible-xxs-inline-block {
    display: inline-block !important;
  }
}
div.footer {
  height: 100%;
  background: #017d3e;
  color: white;
  padding-left: 20px;
}
.footer ul {
  list-style-type: none;
  float: left;
  padding-right: 26px;
}
.footer ul li {
  border-bottom: 1px dotted rgba(255, 255, 255, 0.6);
  padding-bottom: 2px;
  padding-top: 2px;
}
.footer ul li a {
  color: white;
  text-decoration: none;
  font-size: 12px;
}
.footer ul li:first-child a {
  font-weight: 600;
  font-size: 16px;
  line-height: 36px;
}
ul.menu,
ul.sub-menu {
  list-style-type: none;
  margin-bottom: 0;
  overflow: hidden;
  background: white;
}
ul.menu li a .menu-arrow {
  color: #999;
}
ul.menu li a {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  padding: 8px 15px 8px 20px;
  border-bottom: 1px solid #ccc;
}
ul.sub-menu li a {
  padding-left: 40px;
  background: #f8f8f8;
  font-size: 13px;
  -webkit-transition: background ease-in-out 0.2s;
          transition: background ease-in-out 0.2s;
}
ul.sub-menu li a.active {
  background: #40b25e;
  color: white;
}
.slide-open-closed {
  -webkit-transition: max-height 0.5s;
  transition: all ease-in-out 0.5s;
}
.slide-open-closed.ng-hide-add {
  max-height: 185px;
  display: block !important;
}
.slide-open-closed.ng-hide-add.ng-hide-add-active {
  max-height: 0;
}
.slide-open-closed.ng-hide-remove {
  max-height: 0;
  display: block !important;
}
.slide-open-closed.ng-hide-remove.ng-hide-remove-active {
  max-height: 185px;
}
.navbar {
  background: #222;
  height: 53px;
}
.nav.navbar-nav {
  padding-right: 10px;
  width: 100%;
}
@media (max-width: 768px) {
  .navbar-nav {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .navbar-nav > li {
    float: left;
  }
}
.navbar-nav > li > a {
  text-decoration: none;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.62);
  line-height: 17px;
  cursor: pointer;
  padding: 16px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border-left: 1px solid #2f2f2f;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.51);
}
.navbar-nav > li.flat > a {
  box-shadow: none;
  border-left: none;
  padding-top: 17px;
  padding-left: 15px;
  padding-right: 15px;
}
.navbar-nav > li > a.hamburger span i {
  position: absolute;
  top: 3px;
  left: -5px;
}
.nav > li.spacer {
  width: 30px;
  height: 1px;
}
.navbar-nav > li > a.green {
  border-bottom: 4px solid #016742;
}
.navbar-nav > li > a.olive-green {
  border-bottom: 4px solid #6d9500;
}
.navbar-nav > li > a.blue {
  border-bottom: 4px solid #00a2d9;
}
.navbar-nav > li > a.orange {
  border-bottom: 4px solid #f18103;
}
.navbar-nav > li > a.yellow {
  border-bottom: 4px solid #cbdb00;
}
.navbar-nav > li > a.active {
  line-height: 24px;
  border-bottom-width: 5px;
  background: #222;
}
.nav > li > a:focus {
  text-decoration: none;
  color: white;
  background: #222;
}
.nav > li > a:hover {
  text-decoration: none;
  color: white;
  background: #222;
}
.nav .open > a,
.nav .open > a:hover {
  background: #333;
}
.navbar-nav > li > .logo {
  width: 145px;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 8px;
}
.navbar-nav > li > .logo.logo-sm {
  width: 50px;
}
body {
  font-family: "Open Sans", "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  cursor: default;
}
label {
  font-weight: normal;
}
ul {
  padding-left: 0;
}
.content-container {
  padding-left: 200px;
}
@media (max-width: 767px) {
  .content-container {
    padding-left: 0;
  }
}
.main-content-container {
  background: white;
}
.main-content {
  padding: 10px 20px 0;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.main-content > div {
  padding-bottom: 20px;
}
.main-content ul {
  padding-left: 20px;
}
hr {
  border: 0;
  height: 3px;
  margin: 18px 0;
  position: relative;
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(10%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0.65)), color-stop(90%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.12) 50%, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.12) 50%, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#00000000', GradientType=1);
  /* IE6-9 */
}
hr:before {
  content: "";
  display: block;
  border-top: solid 1px #f9f9f9;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: 1;
}
.horizontal-group li {
  float: left;
}
@media (min-width: 1200px) {
  .content {
    left: 16.66667%;
  }
}
@media (min-width: 992px) {
  .content {
    left: 16.66667%;
  }
}
@media (min-width: 1200px) {
  .content {
    float: left;
    width: 66.66667%;
  }
}
@media (min-width: 992px) {
  .content {
    float: left;
    width: 66.66667%;
  }
}
@media (min-width: 768px) {
  .content {
    float: left;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}
.main {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.44);
}
.container {
  padding-left: 0;
  padding-right: 0;
}
.footer {
  height: 52px;
  color: #111;
  padding-top: 15px;
}
.sub-nav {
  width: 200px;
  padding-top: 5px;
  float: left;
}
.sub-nav-header {
  background: #057d3e;
  height: 40px;
  color: white;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.sub-nav-header h3 {
  font-size: 20px;
  line-height: 40px;
  padding-left: 13px;
  margin-top: 0;
}
.sub-nav ul {
  list-style-type: none;
}
.sub-nav ul li {
  border-top: 2px solid white;
}
.sub-nav ul li a {
  text-decoration: none;
  position: relative;
  color: #222;
  line-height: 27px;
  font-size: 13px;
  display: inline-block;
  cursor: pointer;
  background: #eee;
  width: 100%;
  padding-left: 25px;
}
.sub-nav ul li a:hover,
.sub-nav ul li a.active {
  text-decoration: none;
  background: #ccc;
}
.sub-nav ul li a i {
  position: absolute;
  left: 9px;
  top: 4px;
  font-size: 16px;
  opacity: 0;
}
.sub-nav ul li a:hover i,
.sub-nav ul li a.active i {
  opacity: 1;
}
