<div class="footer">
  <div class="row">
    <!--<div class="social col-md-2">
     <a href="http://www.gov.mb.ca/socialmedia/facebook/index.html">
      <img src="../templates/en/template_images/facebook.png" alt="Facebook">
    </a>
    <a href="http://www.gov.mb.ca/socialmedia/twitter/index.html">
      <img src="../templates/en/template_images/twitter.png" alt="Twitter">
    </a>
    <a href="http://www.gov.mb.ca/socialmedia/rss/index.html">
      <img src="../templates/en/template_images/rss.png" alt="RSS">
    </a>
    <a href="http://www.gov.mb.ca/socialmedia/youtube/index.html">
      <img src="../templates/en/template_images/youtube.png" alt="You Tube">
    </a>
  </div> -->

    <ul class="col-md-2">
      <li><a href="http://www.gov.mb.ca/government/index.html">Your Government</a></li>
      <li><a href="http://www.gov.mb.ca/minister/premier/">Premier</a></li>
      <li><a href="http://www.gov.mb.ca/minister/">Cabinet Ministers</a></li>
      <li><a href="http://www.gov.mb.ca/government/departments.html">Departments</a></li>
      <li><a href="http://www.gov.mb.ca/government/abc/index.html">Agencies, Boards and Commissions</a></li>
      <li><a href="http://www.gov.mb.ca/government/other.html">Crowns and other Government Links</a></li>
      <li><a href="http://www.gov.mb.ca/chc/fippa/disclosure.html">Proactive Disclosure</a></li>
    </ul>
    <ul class="col-md-2">
      <li><a href="http://www.gov.mb.ca/business/index.html">Business</a></li>
      <li><a href="http://www.gov.mb.ca/business/index.html">Search for Business Information</a></li>
      <li><a href="http://www.gov.mb.ca/business/startingsmart/index.html">Starting a Business</a></li>
      <li><a href="http://www.gov.mb.ca/business/businessresearch/index.html">Business Research</a></li>
      <li><a href="http://www.gov.mb.ca/business/financing/index.html">Financing a Business</a></li>
      <li><a href="http://www.gov.mb.ca/business/registration/index.html">Registration, Legal and Licencing </a></li>
      <li><a href="http://www.gov.mb.ca/business/taxes/index.html">Taxes and Tax Incentives </a></li>
      <li><a href="http://www.gov.mb.ca/business/doingbusiness/index.html">Doing Business with Government</a></li>
    </ul>
    <ul class="col-md-2">
      <li><a href="http://residents.gov.mb.ca/index.html">Residents</a></li>
      <li><a href="http://residents.gov.mb.ca/index.html">Search Programs and Services</a></li>
      <li><a href="http://residents.gov.mb.ca/forms.html">Forms</a></li>
      <li><a href="http://residents.gov.mb.ca/publications.html">Publications</a></li>
      <li><a href="http://residents.gov.mb.ca/aboutmb.html ">About Manitoba</a></li>
      <li><a href="http://residents.gov.mb.ca/lost_id.html">Lost Identification</a></li>
      <li><a href="http://residents.gov.mb.ca/communities.html ">Communities in Manitoba</a></li>
      <li><a href="http://residents.gov.mb.ca/moving.html">Moving to or Around Manitoba</a></li>
      <li><a href="http://residents.gov.mb.ca/findingwork.html ">Finding Work</a></li>
    </ul>
    <ul class="col-md-2">
      <li><a href="http://www.gov.mb.ca/services/index.html">Online Services</a></li>
      <li><a href="http://www.gov.mb.ca/services/index.html">Search for Online Services</a></li>
      <li><a href="http://www.gov.mb.ca/services/accessing_government.html">Accessing Government</a></li>
      <li><a href="http://www.gov.mb.ca/services/maps.html">Maps</a></li>
      <li><a href="http://www.gov.mb.ca/services/online_directories.html">Online Directories</a></li>
      <li><a href="http://www.gov.mb.ca/services/reference_research.html">Reference and Research</a></li>
    </ul>
    <ul class="col-md-2">
      <li><a href="http://www.travelmanitoba.com" target="_blank">Visitors</a></li>
      <li><a href="http://www.travelmanitoba.com/things-to-do/family-fun/" target="_blank">Family Vacations</a></li>
      <li><a href="http://www.travelmanitoba.com/things-to-do/itinerary-ideas/" target="_blank">Couples Vacations</a></li>
      <li><a href="http://www.travelmanitoba.com/things-to-do/arts-culture/" target="_blank">Arts &amp; Culture</a></li>
      <li><a href="http://www.travelmanitoba.com/things-to-do/outdoor-activities/" target="_blank">Outdoor Adventure</a></li>
      <li><a href="http://www.travelmanitoba.com/things-to-do/arts-culture/festivals-events/" target="_blank">Festivals &amp; Events</a></li>
      <li><a href="http://www.travelmanitoba.com/trip-essentials/visitor-information-centres/" target="_blank">Visitor Information</a></li>
    </ul>

  </div>
</div>
