<div>
    <nav>
        <div>
            <div class="navbar navbar-fixed-top">
                <div class="container">
                    <ul class="nav navbar-nav">
                        <li>
                            <img src="../../img/mb-logo.png" />
                        </li>
                        <li ng-repeat="navItem in vm.navItems">
                            <a href="/#/main/content/{{navItem.code}}/landing" ng-click="vm.setActive(navItem)" ng-class="{active: vm.isActive(navItem)}" class="{{navItem.color}}">{{navItem.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <header class="container banner">
        <img ng-src="{{vm.currNavItem.bannerUrl}}" />
    </header>
    <breadcrumbs class="container breadcrumb">
        manitoba.ca > {{vm.currNavItem.name}}
    </breadcrumbs>
    <side-nav>
        Side nav goes here
    </side-nav>
    <div ui-view="content" class="content shuffle-animation"></div>
    <footer>
        Footer
    </footer>
</div>
