<div>
    <!-- NAVBAR -->
    <nav>
        <div class="navbar navbar-fixed-top">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li>
                        <img src="../../img/mb-logo.png" />
                    </li>
                    <li ng-repeat="navItem in vm.navItems">
                        <a href="/#/main/content/{{navItem.code}}/landing" ng-click="vm.setActiveNavItem(navItem)" ng-class="{active: vm.isActiveNavItem(navItem)}" class="{{navItem.color}}">{{navItem.name}}</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav pull-right flat">
                    <li>
                        <a>
                            <i class="fa fa-search"></i>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <!-- BANNER -->
    <header class="container banner">
        <div class="banner-image {{vm.currNavItem.code}}" ></div>
    </header>
    <!-- BREADCRUMB -->
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#">manitoba.ca</a></li>
            <li><a href="#">{{vm.currNavItem.name}}</a></li>
        </ol>
    </div>
    <!-- SIDE NAV -->
    <div class="container">
        <div class="sub-nav">
            <div class="sub-nav-header">
                <h3>Get Started</h3>
            </div>
            <ul>
                <li ng-repeat="item in vm.currNavItem.children">
                    <a href="/#/main/content/{{vm.currNavItem.code}}/{{item.code}}" ng-click="vm.setActiveSubNavItem(item)" ng-class="{active: vm.isActiveSubNavItem(item)}">
                        <i class="fa fa-caret-right"></i>{{item.name}}
                    </a>
                </li>
            </ul>
        </div>
        <!-- MAIN CONTENT -->
        <div ui-view="content" class="shuffle-animation"></div>
        <!-- FOOTER -->
    </div>
    <footer class="container">
        Footer
    </footer>
</div>
